
<html  xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">

<title>Profile</title>
</head>
<body>

	<section>
	<div class="card mr-3 ml-3">
		<div class="card-body">
		<h1 class="text-center">Employees</h1>
		
		
		
		
		
		<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">EmployeeID</th>
      <th scope="col">Name</th>
     <th scope="col">JobProfile</th> <th></th>
      <th scope="col">Action</th>     
    </tr>
  </thead>
  <tbody>
  
    <tr th:each="e:${employees}">
      <th scope="row" th:text="'EId'+${e.id}"></th>
      <td th:text="${e.user.name}"></td>
      <td th:text="${e.jobProfile}"></td>
      <td></td>
      <td><a th:href="@{'/admin/employee-details/'+${e.id}}">
      <button class="btn btn-primary btn-sm">Details</button> </a> 
      <a th:href="@{'/admin/employee-delete/'+${e.id}}">
      <button class="btn btn-danger btn-sm">Delete</button> </a>     
      </td>      
    </tr>
    
  </tbody>
</table>
		
				<nav aria-label="Page navigation example">
		  <ul class="pagination">
		    <li  th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/admin/employees/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>
		    <li th:classappend="${currentPage==i-1?'active':''}"  th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a  th:href="@{'/admin/employees/'+${i-1}}"  class="page-link" href="#"><span th:text="${i}"></span></a></li>
		    <li th:if="${currentPage+1 != totalPages}" class="page-item"><a th:href="@{'/admin/employees/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
		  </ul>
		</nav>
		
		</div>
		</div>

	</section>
</body>
</html>


