server:
  port: 8085
spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  datasource:
    url: jdbc:mysql://localhost:3306/micro?useSSL=false&serverTimeZone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: Pdghorpade40@
    driverClassName: com.mysql.cj.jdbc.Driver
  application:
    name: CUSTOMER-SERVICE
  zipkin:
    base-url: http://127.0.0.1:9411/
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always 