
<html  xmlns:th="http://www.thymeleaf.org" th:replace="accountant/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">

<title>About</title>
</head>
<body>

	<section>
	
	<div class="container">
	<div class="row">
	<div class="col-md-8 offset-md-2">
	<div class="my-card mt-3">
	<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
  <p class="text-center" th:text="${session.message.content}"></p>
		
		<th:block th:text="${#session.removeAttribute('message')}"></th:block>
		</div>
	<div class="container text-center">
	<img style="width:80px;" th:src="@{'/imag/'+${employee.user.image}}" alt=""/>
	</div>
	<div class="container text-center"><b>
	<span style="width:80px;" th:text="${employee.jobProfile}" alt=""/></b>
	</div>
	
		
		<table class="table table-hover table-white">
  
  <tbody>
    <tr>
      <th scope="row">Employee ID</th>
      <td><span th:text="${employee.id}"></span></td>     
    </tr>
    
    <tr>
      <th scope="row">Name</th>
      <td><span th:text="${employee.user.name}"></span></td>     
    </tr>
    <tr>
      <th scope="row">DOB</th>
      <td><span th:text="${employee.user.dob}"></span></td>     
    </tr>
    <tr>
      <th scope="row">Mobile</th>
      <td><span th:text="${employee.user.mobile}"></span></td>     
    </tr>
    <tr>
      <th scope="row">Email Id</th>
      <td><span th:text="${employee.user.username}"></span></td>     
    </tr>
    
  
    
    <tr>
      <th scope="row">Salary</th>
      <td><span th:text="${employee.salary}"></span></td>     
    </tr>
    
    <tr>
      <th scope="row">Joining Date</th>
      <td><span th:text="${employee.joinDate}"></span></td>     
    </tr>
    <tr>
      <th scope="row">Address</th>
      <td><i><span th:text="${employee.user.address}"></span><i></td>     
    </tr>
          <td><a th:href="@{/accountant/employees/0}" ><span class="text-center">
      <button class="btn btn-primary btn-sm ">Back</button></span> </a></td>
  </tbody>
</table>

		
		
		
		
		
		
		
		

	
	
	
	
	
	
	
	
	
	
	
	
		
	 
	
	
		
	</div>
	</div>
	
	
	</div></div>
	
	
	
	

	</section>
</body>
</html>

